extends ./layout/index

block slider 
    .slider     
        h1 Rio de Janeiro
        em aventura

block contenido
    main.container.mt-5     
        h2.text-center.mb-5 Sobre nosotros 
        .row.mb-5 
            .col-md-6
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor facilis labore voluptates aliquam. Neque doloremque sint eveniet maxime, asperiores consectetur nobis explicabo nostrum, voluptatem commodi, facere corrupti a doloribus debitis.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis tempora explicabo eius dolore laboriosam aperiam accusantium vel cumque ipsa quis, architecto quidem ex facere delectus laudantium alias tenetur. Est, tenetur.
            .col-md-6 
                img.img-fluid(src="/img/inicio_nosotros.jpg", alt="imagen nosotros") 
        
        include ./layout/bloque_viajes
    .descuento 
        .container 
            .row 
                .col-md-6 
                    .contenido 
                        h3 5% Descuento 
                        p.titulo Viaje a Canadá 
                        p.fecha 20 de marzo de 2024 - 28 de marzo de 2024
                        p.precio $2,500 USD
    .container
        h2.mt-5.text-center Testimoniales 
        include ./layout/bloque_testimoniales