extends ./layout/index

block contenido 
    main.container.mt-5 
        .row 
            .col-md-5 
                img.img-fluid(src="img/nosotros.jpg", alt="imagen de nosotros")
            .col-md-7 
                h1 #{pagina}
                blockquote Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam accusamus eligendi ea, quaerat voluptatem impedit, modi sequi necessitatibus vero repudiandae cupiditate temporibus corrupti fuga assumenda quod similique voluptatum, obcaecati repellat?
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit nobis, qui veritatis error amet nostrum commodi laborum quibusdam culpa. Dolor non labore et voluptatum facilis nihil officiis consequatur explicabo ipsam?
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus eaque ratione nostrum aut nihil totam quia aperiam? Quis voluptate fugit iusto aut eius repellendus nam, dignissimos suscipit sit qui asperiores.
    .listado-iconos     
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img.img-fluid.mb-4(src="img/icono_seguridad.svg", alt="icono seguridad")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea sed, aperiam voluptates fugiat harum laudantium illum, pariatur, assumenda placeat in aliquam. Nulla nisi eaque exercitationem nobis laboriosam architecto sit corrupti.
                .col-md-4 
                    img.img-fluid.mb-4(src="img/icono_destinos.svg", alt="icono destinos")
                    h2.mb-4 Mejores destinos 
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea sed, aperiam voluptates fugiat harum laudantium illum, pariatur, assumenda placeat in aliquam. Nulla nisi eaque exercitationem nobis laboriosam architecto sit corrupti.
                .col-md-4 
                    img.img-fluid.mb-4(src="img/icono_precio.svg", alt="icono precio")
                    h2.mb-4 Los mejores precios 
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea sed, aperiam voluptates fugiat harum laudantium illum, pariatur, assumenda placeat in aliquam. Nulla nisi eaque exercitationem nobis laboriosam architecto sit corrupti.